<h1>Dogs in the Database</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dogs.each do |d| %>
      <tr>
        <td><%= link_to d.name, dog_path(d) %></td>
        <td><%= d.age %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/><br/>
<%= link_to "new", dogs_new_path %>